// body {
//     overflow: hidden;
// }

// ========  MENU ======== 

#menu {
    li {
        a {
            font-size: 18px;
            font-weight: bold;
            color: #3f3f3f;
        }
    }
    form {
        button {
            font-size: 18px;
            font-weight: bold;
        }
    }
}

.navbar a:hover {
    text-decoration:underline;
}


// ====== SLIDER DE IMAGENES ======


.carousel-inner {
    max-height: 39rem;
}


// ====== NOSOTROS ======


.CEO {
    margin-top: 5rem;
    margin-bottom: 2rem;
}


// ====== CONTACTO ======

#local {
    background: #f3f3f3;
    padding-bottom: 300px;
    display: flex;
    justify-content: center;
    
    .mapa {
    // background: url(./img/mapa.png) ;
    margin: 50px 20px 0 300px;
    width: 100%;
    }
}
.wrapper {
        width: 50%;
        margin-left: 100px;
        padding-top: 150px;
    }


// ===== SECCION EQUIPO LIMA =====


#numeros-local div {
    padding: 0 20px 0 0;
    height: 48px;
  }
  
#numeros-local div:not(:last-child) {
    border-right: 2px solid #3f3f3f;
  }
  
#numeros-local div:not(:first-child) {
    padding-left: 20px;
  }
  
#numeros-local p {
    margin: 0;
  }


// ===== CONTACTOS BACKGROUND ======


// #bg-contacto {
//     position: relative;
//     top: -130px;
// }


#seccion-contacto {
    background-color: #f3f3f3;
    min-height: 600px;
    position: relative;
}

// ====== CONTACTOS FORMULARIO ======


#contenedor-formulario {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius: 5px;
    max-width: 500px;
}

#titulo-formulario {
    color: #3f3f3f;
}


// ====== ICONO-WSP =======

.container-boton{
    background-color: #2e6329;
    border: 1px solid #fff;
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom:120px;
    right: 25px;
    padding: 25px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}

.container-boton:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.boton{
    width: 30px;
    transition: ease 1s;
}

@keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100%{
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
}

// ====== FOOTER =======


footer {
    background: #1b2a4e;
    min-height: 100px;

    p {
        color: #f3f3f3;
        text-align: center;
    }
}

#iconos i {
    font-size: 26px;
    padding: 0 8px;
    color: #f3f3f3;
}



// ===== IMAGENES =====

.container-fluid img {
    border-radius: 10px;
}


// ====== MEDIA QUERIES PANTALLA ANCHA =====

@media (max-width:1200px) {
    #local {
        flex-wrap: wrap;
        padding-top: 30px;
    }
    .mapa {
        margin-left: 10px !important;
    }
    .wrapper {
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }
}

// ======== MEDIA QUERIES PANTALLA SM ======== 


@media (max-width:768px) {
    #intro, #equipo {
        width: 90% !important;
    }
    
    .servicio-fila {
        width: 100% !important;
        text-align: center;
    }

    #bg-contacto {
        top: -110px;
    }
}


// ======== MEDIA QUERIES PANTALLA EXTRA-SM ======== 


@media (max-width: 576px) {
    .icono-wrap {
        flex-wrap: wrap;
        justify-content: center !important;
    }
}


